# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/fayo?schema=public"

# Service
PORT=3002
SERVICE_NAME=appointment-service

# Kafka
KAFKA_BROKER=localhost:9092
KAFKA_CLIENT_ID=appointment-service
KAFKA_GROUP_ID=appointment-group

# User Service
USER_SERVICE_URL=http://localhost:3001
