# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/fayo?schema=payments

# Server
PORT=3006
HOST=0.0.0.0
NODE_ENV=development

# Kafka
KAFKA_BROKER=localhost:9092

# CORS
ALLOWED_ORIGINS=http://localhost:3000,http://72.62.51.50:3001
ADMIN_PANEL_URL=http://localhost:3000

