# Service
PORT=3000
SERVICE_NAME=gateway

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production

# Services
USER_SERVICE_URL=http://localhost:3001
TRIAGE_SERVICE_URL=http://localhost:3003
NOTIFICATION_SERVICE_URL=http://localhost:3004
