# Database
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/specialty_service?schema=public

# Server
PORT=3004
HOST=0.0.0.0
NODE_ENV=development

# CORS
ALLOWED_ORIGINS=http://localhost:3000,http://72.62.51.50:3001,http://localhost:3002,http://localhost:3003

